<%- include("partials/header") %>
 
 
	<div class="container">
		<div class="row mt-4">
			<div class="col-6 show_image-container">
				<h1 style="color:white;font-family:roboto; margin-left:150px;">Movie Title:</h1>
				<img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/<%=data['poster_path']%>" alt="Image" class="image-size" style="border-radius:15px;width:500px;height:500px;margin-top:100px;">
			</div>
			<div class="col-6 show_details-container">

				<h1 style="font-size:45px;color:white;font-family:roboto;text-align:center;"><%= data['original_title'] %></h1>
				
				<p style="font-size:45px;color:white;font-family:roboto;margin-top:70px;"><%= data['overview']%></p>

				<table class="table">
				  <tbody>
					<tr style="font-size:20px;color:white;font-family:sans-serif;">
					  <th scope="row">Popularity:</th>
					  <td><%= data['popularity']  %></td>
					</tr>
					<tr  style="font-size:20px;color:white;font-family:sans-serif;">
					  <th scope="row">Vote Average:</th>
					  <td><%= data['vote_average']  %></td>
					</tr>
					<tr  style="font-size:20px;color:white;font-family:sans-serif;">
					  <th scope="row">Vote Count:</th>
					  <td><%= data['vote_count']  %></td>
					</tr>
				  </tbody>
				</table>
			</div>
		</div>
<script src="/bootstrap-4.5.2-dist/js/bootstrap.min.js"></script>
<%- include("partials/footer") %>